# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp

# Dependencias y builds (para las entregas siguientes)
node_modules/
dist/
build/
target/

# Entornos y credenciales
.env
*.local
